.myBreadcrumb a{
    text-decoration: none;
    color: #2994ED;
}
.myBreadcrumb{
    margin:30px 9% 10px 9%;
}



.searchBar .dropdown-btn{
/*     font-size: 16px; */
/*     width: 97px; */
    box-sizing: border-box;
    width: 20%;
    height: 40px;
    background:#F3F3F3;
    color: #444;
    border:1px solid #aaa;
    float: left;
}
.searchBar .triangel{
    border-top: 5px solid #555;
}
.dropup-btn span,
.dropdown-btn span{
    margin-left:-1em;
    position:relative;
}
.triangel{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #555;
    width: 0;
    height: 0;
    position: absolute;
    right:-1em;
    top:50%;
    transform:translateY(-50%);
}
.searchBar .dropdown{
    position: relative;
}
.searchBar .dropdown-meau{
/*     width: 120px; */
    width: 24%;
/*     height: 200px; */
    position: absolute;
    background:#fff;
    z-index: 99;
    border:1px solid #aaa;
    text-align: center;
    list-style: none;
    left: -2%;
    top:40px;
}
.searchBar .dropdown-meau li:hover{
    cursor: pointer;
    background:#efefef;
}
.searchBar .dropdown-meau li{
    padding:1em;
}
.searchBar input{
    text-indent: 1em;
    width: 60%;
    height: 36px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.searchBar{
    margin:0 auto;
    display:table;
    width: 38%;
    position: relative;
}
.searchBtn{
    width: 20%;
    height: 40px;
    background: #1087EB;
    color: #fff;
    position: absolute;
    right: 0;
}
.searchBtn:active{
    background:#438ACA;
}
.searchBtn div{
    margin-right: 10%;
    display:inline-block;
    vertical-align: middle;
}


.result{
    overflow: hidden;
    font-size: 13px;
    width: 88%;
    background:#fff;
    border:1px solid #aaa;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    margin:30px auto;
    padding:0 3%;
}
.result_count-List li{
    float: left;
    list-style: none;
    font-weight: bold;
    font-size: 12px;
    padding-right:3em;
    line-height: 75px;
}
.result_count-List li span{
    color: #f00;
    
}

.result_manage-btn{
    float: right;
    list-style: none;
    width: 10%;
    margin:20px 0.5%;
    
}
.result_manage-btn button{
    position: relative;
    width: 100%;
    height: 35px;
    color:#fff;
    border-radius: 5px;
}
.result_manage .dropdown-meau{
    margin-top: 5px;
    position: absolute;
    list-style: none;
    width:8.7%;
    z-index: 99;
    background: #fff;
    border-radius: 5px;
    border:1px solid #ccc;
/*     box-shadow:0 0 10px #aaa; */
}
.result_manage .dropdown-meau li{
    box-sizing: border-box;
/*     margin:0 auto; */
/*     width: 80%; */
    text-align: center;
    padding:1em 0;
    border-bottom: 1px solid #ddd;
}
.result_manage .dropdown-meau li:hover{
    background: #efefef;
    cursor: pointer;
}
.result_page{
    width: 100%;
}
.plsc-btn{
    background: #F56B6B;
}
.pljk-btn{
    background: #33CC00;
}
.pljk-btn .triangel,
.plsc-btn .triangel{
    border-top-color:#fff;
}

.tjasin-btn{
    background: #1087EB;
}






.result_page{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 12px;
    
}
.result_page tbody tr{
    min-height: 76px;
}
.result_page td,
.result_page th{
    padding:1em;
}
.result_page td,
.result_page th{
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.result_page th:first-child{
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-top-left-radius: 5px;
}
.result_page tr td:first-child{
    width: 3%;
    text-align: center;
    vertical-align: top;
    border-left:1px solid #ccc;
}
.result_page thead th{
    white-space: nowrap;  
    border-top: 1px solid #ccc;
}
.result_page th:last-child{
    border-top:1px solid #ccc;
    border-top-right-radius: 5px;
}
.result_page tr:last-child td:first-child{
    border-bottom-left-radius: 5px;
}
.result_page tr:last-child td:last-child{
    border-bottom-right-radius: 5px;
}
.monitorCheckbox{
    display: inline-block;
}
.product-delBtn{
    width: 37px;
    height: 35px;
    display: inline-block;
    float: right;
    background-image: url(../images/35-37del.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.product-delBtn:active{
     background-position: -37px 0;
}
.product_operate{
    
    width:90px;
    max-width: 100%;
/*     min-width: 74px; */
/*     max-width: 74px; */
}
.product_pic{
    height: 76px;
    width: 76px;
}
.product_pic div{
    border-radius: 5px;
    border:1px solid #ccc;
    width: 76px;
    height: 76px;
    background-image: url(../images/product_NoPic.jpg);
    background-repeat: no-repeat;
    
}
.product_feature{
    text-align: center;
}
.product_info{
    min-width: 65%;
    position: relative;
}
.product_info p:nth-child(2){
    padding-top: 1em;
    bottom: 1em;
    position: absolute;
    line-height: 1.4;
}
.product_info a{
    text-decoration: none;
    color:#1087EB;
}
.product_info p:first-child{
    width: 85%;
    line-height: 1.4;
    position: absolute;
    top:1em;
    
/*     多行文本溢出显示省略号 */                       /*===============================   bug =================================*/
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.product_feature{
    white-space: nowrap;  
}
.result_page tbody tr:hover{
    background:#F5F5F5;
}
.result_count-Describe{
    float:left;
    display: inline-block;
    padding: 2em 0;
}



/* 上弹菜单按钮 */
.dropup{
    position: relative;
    float: right;
/*     display: inline-block; */
    margin:1em 1em 0 0;
}
.dropup-btn{
    
    width: 52px;
    height: 32px;
    background: #fff;
    border:1px solid #ccc;
    border-radius: 5px;
}
.dropup-btn .triangel{
    transform: rotate(180deg);
    top:25%;
}
.dropup-meau{
    background: #fff;
    position: absolute;
    bottom:38px;
    width: 50px;
    text-align: center;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.dropup-meau li{
    padding:0.5em;
}
.dropup-meau li:hover{
    cursor: pointer;
    background:#1087EB;
    color: #fff;
}


/* 分页条 */
.pagination{
    margin-top: 1em;
/*     vertical-align: middle; */
    float: right;
    display: inline-block;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.page-item{
    border-left: 1px solid #ccc;
    padding:0 1em;
    line-height: 32px;
/*     box-sizing: border-box; */
    height:30px;
    float: left;
}
.page-item a{
    color: #428BCA;
    text-decoration: none;
}
.current-page-item{
    background: #438BCB;  
    color: #fff;
}

.current-page-item a{
    color: #fff;
}
.page-item:hover{
    cursor: pointer;
}
.page-item:active{
    background:#438BCB; 
}
.page-item a:active{
    color: #fff;
}
.page-item:first-child{
    border-left:none;
}














